<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Google Suite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="listeners.ExtentTestListener"/>
    </listeners>

    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="testcases.SecondSample"/>
        </classes>
    </test>

    <test name="Firefox Tests">
        <parameter name="browser" value="firefox"/>

        <classes>
            <class name="testcases.SecondSample"/>
        </classes>
    </test>

</suite>